@model Proyecto_1.Models.Parqueo

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align:center">ELIMINAR PARQUEO N° @Html.DisplayFor(model => model.Id)</h1>

<div>
    <h2>Datos del Parqueo</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVehiculosMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadVehiculosMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraApertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraApertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarifaMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarifaMedia)
        </dd>
    </dl>

    <h3>¿Desea proceder con la eliminación del registro del parqueo?</h3>
    
    <form asp-action="Delete" class="mt-4">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
